/* DOCUMENT INFORMATION
    -Document thé thème
    -version : 1.0.0
    -author : lucie
*/

/* COLORS
    -default body text #eee
    -h1                #eee
    -h2                #333333
    -h3

    -button:hover
    -icon: green
    -border
*/

/* FONTS
    -default : Lato
    -subtitle
*/

/*CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS
*/

/* GLOBAL
===================================*/

html{
    background-color: #fff;
        
}

h1, h2, h3, h4 {
    font-family: "Lato", "Arial", "sans serif";
    text-transform: uppercase;                       /* texte en majuscule */
    letter-spacing: -1px;                            /* espacement entre les lettres */
    font-weight: 300px;                             /* épaisseur de la police */
    word-spacing: 8px;                              /* espacement entre les mots */
    
    
}
h1 {
    color: #eee;
}
h2 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2:after {                          /* créer un tiret sous le titre */
    display: block;
    height: 2px;
    background-color: green;
    width: 100px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
       
}

h3 {
    font-size: 160%;
    
}

p{
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    
}
section {                              /* créer un espacement autour de chaque section */
    padding: 30px 0 60px 0;
}

/*HEADER
===================================*/
                                
header {                                   /* ajouter un effet dégradé sur la photo */
    background-image:linear-gradient( rgba(0,242,96,0.4), rgba(7,117,230,0.6) ), url(../images/header.jpg);  
    height: 100vh;
    background-position: center; 
    background-size: cover;
        
}

.home-title {
    position: absolute;
    top:  30%;
    
    
}

.home-title h1 {
    font-size: 340%;
    color: #fff;
    
}

.home-title h1 span {
    font-weight: 700;
    
}

.home-title p {
    color: #fff;
    
}

/* Button */

.btn {                              /* structure du bonton */
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px; 
    transition: background-color 1s, color 1s, border 1s;   /* permet de gérer le temps de la transition */
    margin-bottom: 20px;
}

.btn-full {                            /* couleur du bouton */
    background-color: azure;
    color: #44c93e;
    margin-right: 15px;
          
}

.btn-ghost {
    border: 1px solid #fff;
    color: #fff;
     
}
.btn-full:hover{                    /* créer un effet au passage de la souris */
    background-color: #44c93e;
    color: #fff;
    
}

.btn-ghost:hover{
    background-color: #44c93e;
    color: #fff;
    border: 1px solid #44c93e;
    
}

/* PRODUITS
===================================*/

.produits-plus {
    margin: 20px 0;
}
.produits-plus:hover .produits-icon{      /* déplacer l'icon de 20px au passage de la souris */
    transform: translateX(20px);
    color: #5a5858;
    
}
.produits-img {
    max-width: 100%;
    height: auto;
}

.produits-icon {
    font-size: 34px;
    color: green;
    transition: all 1s;
}

/* FAMILLE THE
===================================*/

.famille-the {
    background-color: #b5fae3
}

.famille-details {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;                      /* créer un angle arrondi */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);     /* créer une ombre portée, rgba(couleur,transparence) */
    background-color: azure;                    /* créer un fond coloré pour cette class */
    margin-bottom: 20px;
}
.famille-details img {                         /* permet de centrer une image dans son block avec une largeur de 80% */
    display: block;                          
    margin: 0 auto;
    width: 80%;
}
.famille-details h4 {                           /* permet de centrer un titre */
    text-align: center; 
    
}

/* GALERIES PHOTOS
===================================*/

.galeries-img {
    display: block;                       /* pour centrer*/
    background-size: cover;               /* couvrir tout l'élément */  
    background-position: top center;      /* posotion de l'image de fond */
    background-repeat: no-repeat;         /* pour que l'image de fonds ne se répète pas */
    height: 300px;                        /* hauteur */
    border-radius: 10px;                   /* bordure image */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);  /* ombre portée */
    margin-bottom: 30px;                   /* créer une marge sous l'image */
}

.galeries-title {                           /* positionner le titre de l'image */
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.galeries-title h4 {                           /* colorer le titre de l'image */
    color: #fff;
    
}

/* CLIENTS
===================================*/

.clients {
    background-image: linear-gradient( rgba(0,242,96,0.4), rgba(7,117,230,0.6) ), url(../images/the-paysage.jpg);                       /* les ../ permettent de sortir du fichier .css et d'aller dans le fichie ressources */ 
    background-size: cover;
    background-attachment: fixed;                                            /* permet de fixer l'image au scroll de la souris */
}

.clients h2 {
    color: #fff;
    
}
.clients h2:after {
    background-color: #fff;
}

blockquote {
    color: #fff;
    padding: 5px;
    font-style: italic;       /* texte en italique */
    line-height: 130%;
    
}

blockquote:before {                   /* before permet de placer un élémement avnt le blockquote */
    content: "\201C";                 /* symbole copier sur internet */
    font-size: 800%; 
    font-family: "sanchez", serif;     /* télécharger une font google pour changer l'aspect du symbole et la coller dans le head font de la page html */
    position: absolute;                /* permet de déplacer le symbole */
    top: 30px;
    left: 5px;
    color: rgba(255,255,255,0.5)       /* le symbole devient transparent */
    
    
}

cite {                   /* espacer l'image et l'auteur du commentaire */
    font-size: 90%;
    display: block;
    margin-top: 20px;
      
}

cite img {                   
    height: 50px;           /* hauteur image */
    border-radius: 50%;     /* bordure cercle */
    margin-right: 10px;     /* espacer l'image de l'auteur par la droite */
}

/* PACKS
===================================*/

.pack {                                   /* créer une ombre sur la boite pack */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.pack h3 {
    color: green;
    font-weight: 400px;
    
}
.pack h4 {
    font-size: 200%;
    font-weight: 100;
    
}
.pack-title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #eeeeee;
}

.pack-title-premium {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #fff;
    color: green;
    border-radius: 10px;
    padding: 5px;
    
}
.pack span{                      /* faire diminuer puis remonter le /mois */ 
    font-size: 40%;
    font-weight: 200;
    position: relative;
    top: -15px;
    left: 2px;
}
.pack-premium {
    background-color: #6fe66f;
    color: #fff;  
    
}

.pack-content ul{
    list-style: none;       /* enlève les effets de la liste */
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
    
}
.pack-content ul li i{                /* icones de la liste */
    font-size: 90%;
    margin-right: 10px;
    
}
.pack-signup {                         /*texte bouton d'action */
    text-align: center;
}
.pack-signup:hover .btn-pack {
    background-color: darkcyan;
    color: #fff;
    
}
.btn-pack {                             /* bouton d'action */
    background-color: green;
    margin-bottom: 20px;
    color: #fff;
    
}

/* CONTACT
===================================*/

.contact-form {
    margin-bottom: 30px;
    
}
.contact-message {
    width: 100%        /* le cadre du message prend toute la largeur */
}
.btn-contact{
    background-color: #29a529;
    color: #fff;
  
}
.btn-contact:hover{
    color: #fff;
    
}
.map {
   position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;   /* permet de gérer le dépassement du contenu en mode responsive*/ 
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

/* FOOTER
===================================*/

footer {
    background-color: #1d1c1c;
    color: #fff;
    height: 60px;
    padding: 20px 20px;
    
}
.copyright{
    text-align: center;
}
.copyright a {
    color: #fff;
}
